<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.qdu.smartclassserver.dao.ClassUserMapper">
  <resultMap id="BaseResultMap" type="team.qdu.smartclassserver.domain.ClassUser">
    <id column="class_user_id" jdbcType="INTEGER" property="class_user_id" />
    <result column="class_id" jdbcType="INTEGER" property="class_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="if_in_class" jdbcType="VARCHAR" property="if_in_class" />
    <result column="if_new_material" jdbcType="VARCHAR" property="if_new_material" />
    <result column="if_new_homework" jdbcType="VARCHAR" property="if_new_homework" />
    <result column="if_new_class_thing" jdbcType="VARCHAR" property="if_new_class_thing" />
    <result column="unread_information_num" jdbcType="INTEGER" property="unread_information_num" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="create_date_time" jdbcType="TIMESTAMP" property="create_date_time" />
    <result column="modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="DetailResultMap" type="team.qdu.smartclassserver.domain.ClassUser">
    <association property="my_class" javaType="team.qdu.smartclassserver.domain.Class">
      <id column="my_class_class_id" jdbcType="INTEGER" property="class_id"/>
      <result column="my_class_name" jdbcType="VARCHAR" property="name"/>
      <result column="my_class_avatar" jdbcType="VARCHAR" property="avatar"/>
      <result column="my_class_course" jdbcType="VARCHAR" property="course"/>
      <result column="my_class_university" jdbcType="VARCHAR" property="university"/>
      <result column="my_class_department" jdbcType="VARCHAR" property="department"/>
      <result column="my_class_detail" jdbcType="VARCHAR" property="detail"/>
      <result column="my_class_exam_shedule" jdbcType="VARCHAR" property="exam_shedule"/>
      <result column="my_class_population" jdbcType="SMALLINT" property="population"/>
      <result column="my_class_if_allow_to_join" jdbcType="VARCHAR" property="if_allow_to_join"/>
      <result column="my_class_user_id" jdbcType="INTEGER" property="user_id"/>
      <result column="my_class_create_date_time" jdbcType="TIMESTAMP" property="create_date_time"/>
      <result column="my_class_modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time"/>
      <result column="my_class_teacher" jdbcType="VARCHAR" property="teacher"/>
    </association>
    <association property="user" javaType="team.qdu.smartclassserver.domain.User">
      <id column="user_user_id" jdbcType="INTEGER" property="user_id" />
      <result column="user_account" jdbcType="VARCHAR" property="account" />
      <result column="user_password" jdbcType="VARCHAR" property="password" />
      <result column="user_avatar" jdbcType="VARCHAR" property="avatar" />
      <result column="user_name" jdbcType="VARCHAR" property="name" />
      <result column="user_sno" jdbcType="VARCHAR" property="sno" />
      <result column="user_gender" jdbcType="VARCHAR" property="gender" />
      <result column="user_status_message" jdbcType="VARCHAR" property="status_message" />
      <result column="user_birthday" jdbcType="DATE" property="birthday" />
      <result column="user_university" jdbcType="VARCHAR" property="university" />
      <result column="user_department" jdbcType="VARCHAR" property="department" />
      <result column="user_if_show_closed_classes" jdbcType="VARCHAR" property="if_show_closed_classes" />
      <result column="user_security_question" jdbcType="VARCHAR" property="security_question" />
      <result column="user_security_answer" jdbcType="VARCHAR" property="security_answer" />
      <result column="user_create_date_time" jdbcType="TIMESTAMP" property="create_date_time" />
      <result column="user_modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    class_user_id, class_id, user_id, title, if_in_class, if_new_material, if_new_homework, if_new_class_thing, unread_information_num, exp,
    create_date_time, modify_date_time
  </sql>
  <select id="selectJoinedClassesByUserId" parameterType="java.lang.Integer" resultMap="DetailResultMap">
    select class_user_id, title, if_new_material, if_new_homework, if_new_class_thing, unread_information_num, class.class_id as my_class_class_id,
    class.name as my_class_name, class.avatar as my_class_avatar, class.course as my_class_course, user.name as user_name
    from user, class, class_user
    where user.user_id = class.user_id
      and class.class_id = class_user.class_id
      and class_user.if_in_class = '是'
      and class.if_allow_to_join = '是'
      and class_user.user_id = #{user_id, jdbcType=INTEGER}
    order by class_user_id desc
  </select>
  <select id="selectMyClassByClassIdUserId" resultMap="DetailResultMap">
    select class_user_id, title, if_new_material, if_new_homework, unread_information_num, class.course as my_class_course
    from class_user, class
    where class_user.class_id = class.class_id
      and class_user.class_id = #{class_id,jdbcType=INTEGER}
      and class_user.user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from class_user
  where class_user_id = #{class_user_id,jdbcType=INTEGER}
  and if_in_class = '是'
</select>
  <select id="selectMemberInfoByPrimaryKey" parameterType="java.lang.Integer" resultMap="DetailResultMap">
    select
    user.name as user_name,user.sno as user_sno,user.avatar as user_avatar,class_user.exp,class_user.class_user_id
    from class_user,user
    where class_user_id = #{class_user_id,jdbcType=INTEGER}
    and class_user.if_in_class = '是'
  </select>
  <select id="selectByClassIdUserId" parameterType="team.qdu.smartclassserver.domain.ClassUser" resultMap="BaseResultMap">
    select class_user_id
    from class_user
    where class_user.class_id = #{class_id,jdbcType=INTEGER}
    and class_user.user_id = #{user_id,jdbcType=INTEGER}
    and if_in_class = '是'
  </select>
  <select id="selectStudentsByClassId" parameterType="team.qdu.smartclassserver.domain.ClassUser" resultMap="BaseResultMap">
    select class_user_id, user_id
    from class_user
    where class_user.class_id = #{class_id,jdbcType=INTEGER}
      and title = '学生'
      and if_in_class = '是'
  </select>
  <select id="selectClassMembersByClassId" parameterType="java.lang.Integer" resultMap="DetailResultMap">
    select user.name as user_name,class_user.user_id,user.avatar as user_avatar,user.sno as user_sno,class_user.exp,class_user.class_user_id,
    user.user_id as user_user_id
    from class_user,user
    where class_user.class_id = #{class_id, jdbcType=INTEGER}
    and class_user.user_id = user.user_id
    and class_user.if_in_class = '是'
    and class_user.title = '学生'
    order by class_user.exp desc
  </select>
  <select id="selectByClassIdAndUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from class_user
    where class_user.class_id = #{arg0, jdbcType=INTEGER}
    and class_user.user_id = #{arg1, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class_user
    where class_user_id = #{class_user_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.qdu.smartclassserver.domain.ClassUser">
    insert into class_user (class_user_id, class_id, user_id, 
      title, if_in_class, if_new_material, if_new_homework, if_new_class_thing, unread_information_num,
      exp, create_date_time, modify_date_time
      )
    values (#{class_user_id,jdbcType=INTEGER}, #{class_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{if_in_class,jdbcType=VARCHAR}, #{if_new_material,jdbcType=VARCHAR},
      #{if_new_homework,jdbcType=VARCHAR}, #{if_new_class_thing,jdbcType=VARCHAR}, #{unread_information_num,jdbcType=INTEGER},
      #{exp,jdbcType=INTEGER}, #{create_date_time,jdbcType=TIMESTAMP}, #{modify_date_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.qdu.smartclassserver.domain.ClassUser">
    insert into class_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="class_user_id != null">
        class_user_id,
      </if>
      <if test="class_id != null">
        class_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="if_in_class != null">
        if_in_class,
      </if>
      <if test="if_new_material != null">
        if_new_material,
      </if>
      <if test="if_new_homework != null">
        if_new_homework,
      </if>
      <if test="if_new_class_thing != null">
        if_new_class_thing,
      </if>
      <if test="unread_information_num != null">
        unread_information_num,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="create_date_time != null">
        create_date_time,
      </if>
      <if test="modify_date_time != null">
        modify_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="class_user_id != null">
        #{class_user_id,jdbcType=INTEGER},
      </if>
      <if test="class_id != null">
        #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="if_in_class != null">
        #{if_in_class,jdbcType=VARCHAR},
      </if>
      <if test="if_new_material != null">
        #{if_new_material,jdbcType=VARCHAR},
      </if>
      <if test="if_new_homework != null">
        #{if_new_homework,jdbcType=VARCHAR},
      </if>
      <if test="if_new_class_thing != null">
        #{if_new_class_thing,jdbcType=VARCHAR},
      </if>
      <if test="unread_information_num != null">
        #{unread_information_num,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateIfInClassByClassIdUserId">
    update class_user
    set if_in_class = '是'
    where class_id = #{class_id,jdbcType=INTEGER}
    and user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByClassIdUserIdSelective" parameterType="team.qdu.smartclassserver.domain.ClassUser"
          useGeneratedKeys="true" keyProperty="class_user_id">
    update class_user
    <set>
      <if test="class_id != null">
        class_id = #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="if_in_class != null">
        if_in_class = #{if_in_class,jdbcType=VARCHAR},
      </if>
      <if test="if_new_material != null">
        if_new_material = #{if_new_material,jdbcType=VARCHAR},
      </if>
      <if test="if_new_homework != null">
        if_new_homework = #{if_new_homework,jdbcType=VARCHAR},
      </if>
      <if test="if_new_class_thing != null">
        if_new_class_thing = #{if_new_class_thing,jdbcType=VARCHAR},
      </if>
      <if test="unread_information_num != null">
        unread_information_num = #{unread_information_num,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where class_id = #{class_id,jdbcType=INTEGER}
      and user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="addExpByClassIdUserId" parameterType="java.util.Map">
    update class_user
    set exp = exp + #{exp,jdbcType=INTEGER}
    where class_id = #{classId,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="addExpsByClassIdUserId" parameterType="java.util.List">
    <foreach collection="list" item="item">
      update class_user
      set exp = exp + #{item.exp,jdbcType=INTEGER}
      where class_id = #{item.class_id,jdbcType=INTEGER}
      and user_id = #{item.user_id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="addExpMaterial" parameterType="team.qdu.smartclassserver.domain.Material_User">
    UPDATE class_user
    <set>
      exp = exp + 2
    </set>
    where class_id = #{class_id,jdbcType=INTEGER}
    and user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="addExpInform" parameterType="team.qdu.smartclassserver.domain.Inform_User">
    UPDATE class_user
    <set>
      exp = exp + 1
    </set>
    where class_id = #{class_id,jdbcType=INTEGER}
    and user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="team.qdu.smartclassserver.domain.ClassUser">
    update class_user
    <set>
      <if test="class_id != null">
        class_id = #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="if_in_class != null">
        if_in_class = #{if_in_class,jdbcType=VARCHAR},
      </if>
      <if test="if_new_material != null">
        if_new_material = #{if_new_material,jdbcType=VARCHAR},
      </if>
      <if test="if_new_homework != null">
        if_new_homework = #{if_new_homework,jdbcType=VARCHAR},
      </if>
      <if test="if_new_class_thing != null">
        if_new_class_thing = #{if_new_class_thing,jdbcType=VARCHAR},
      </if>
      <if test="unread_information_num != null">
        unread_information_num = #{unread_information_num,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where class_user_id = #{class_user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByClassIdSelective" parameterType="team.qdu.smartclassserver.domain.ClassUser">
    update class_user
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="if_in_class != null">
        if_in_class = #{if_in_class,jdbcType=VARCHAR},
      </if>
      <if test="if_new_material != null">
        if_new_material = #{if_new_material,jdbcType=VARCHAR},
      </if>
      <if test="if_new_homework != null">
        if_new_homework = #{if_new_homework,jdbcType=VARCHAR},
      </if>
      <if test="if_new_class_thing != null">
        if_new_class_thing = #{if_new_class_thing,jdbcType=VARCHAR},
      </if>
      <if test="unread_information_num != null">
        unread_information_num = #{unread_information_num,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where class_id = #{class_id,jdbcType=INTEGER}
      and title = "学生"
      and if_in_class = "是"
  </update>
  <update id="updateByPrimaryKey" parameterType="team.qdu.smartclassserver.domain.ClassUser">
    update class_user
    set class_id = #{class_id,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      if_in_class = #{if_in_class,jdbcType=VARCHAR},
      if_new_material = #{if_new_material,jdbcType=VARCHAR},
      if_new_homework = #{if_new_homework,jdbcType=VARCHAR},
      if_new_class_thing = #{if_new_class_thing,jdbcType=VARCHAR},
      unread_information_num = #{unread_information_num,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP}
    where class_user_id = #{class_user_id,jdbcType=INTEGER}
  </update>
</mapper>