<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.qdu.smartclassserver.dao.ClassMapper">
    <resultMap id="BaseResultMap" type="team.qdu.smartclassserver.domain.Class">
        <id column="class_id" jdbcType="INTEGER" property="class_id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="course" jdbcType="VARCHAR" property="course"/>
        <result column="university" jdbcType="VARCHAR" property="university"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="exam_shedule" jdbcType="VARCHAR" property="exam_shedule"/>
        <result column="population" jdbcType="SMALLINT" property="population"/>
        <result column="if_allow_to_join" jdbcType="VARCHAR" property="if_allow_to_join"/>
        <result column="user_id" jdbcType="INTEGER" property="user_id"/>
        <result column="create_date_time" jdbcType="TIMESTAMP" property="create_date_time"/>
        <result column="modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time"/>
        <result column="teacher" jdbcType="VARCHAR" property="teacher"/>
    </resultMap>
    <resultMap id="simpleResultMap" type="team.qdu.smartclassserver.domain.Class">
        <id column="class_id" jdbcType="INTEGER" property="class_id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="course" jdbcType="VARCHAR" property="course"/>
    </resultMap>
    <sql id="Base_Column_List">
    class_id, name, avatar, course, university, department, detail,
    exam_shedule, population, if_allow_to_join, user_id, create_date_time, modify_date_time
    </sql>
    <select id="selectJoinedClassesByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select class.class_id, class.name, class.avatar, class.course, user.name as teacher, if_allow_to_join
    from user, class, class_user
    where user.user_id = class.user_id
      and class.class_id = class_user.class_id
      and class_user.user_id = #{user_id, jdbcType=INTEGER}
      and class.if_allow_to_join != '已删除'
    order by class_id desc
    </select>
    <select id="getClass" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
        SELECT *
        from class
        where user_id=#{user_id,jdbcType=INTEGER}
    </select>
    <select id="selectJoinClassByClassId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select class.class_id, class.avatar, class.name, class.course, class.if_allow_to_join, user.name as teacher
    from user, class
    where user.user_id = class.user_id
      and class_id = #{class_id, jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from class
        where class_id = #{class_id,jdbcType=INTEGER}
    </select>
    <select id="selectUserIdByClassId" resultType="java.lang.Integer">
        select
        user_id
        from class_user
        where class_id = #{classId,jdbcType=INTEGER} AND title='学生'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where class_id = #{class_id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="team.qdu.smartclassserver.domain.Class" useGeneratedKeys="true"
            keyProperty="class_id">
    insert into class (class_id, name,
      avatar, course, university, 
      department, detail,
      exam_shedule, population,
      if_allow_to_join, user_id, create_date_time, 
      modify_date_time)
    values (#{class_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{avatar,jdbcType=VARCHAR}, #{course,jdbcType=VARCHAR}, #{university,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR},  #{detail,jdbcType=VARCHAR},
      #{exam_shedule,jdbcType=VARCHAR}, #{population,jdbcType=SMALLINT},
      #{if_allow_to_join,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER}, #{create_date_time,jdbcType=TIMESTAMP}, 
      #{modify_date_time,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="team.qdu.smartclassserver.domain.Class">
        insert into class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="class_id != null">
                class_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="course != null">
                course,
            </if>
            <if test="university != null">
                university,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="exam_shedule != null">
                exam_shedule,
            </if>
            <if test="population != null">
                population,
            </if>
            <if test="if_allow_to_join != null">
                if_allow_to_join,
            </if>
            <if test="user_id != null">
                user_id,
            </if>
            <if test="create_date_time != null">
                create_date_time,
            </if>
            <if test="modify_date_time != null">
                modify_date_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="class_id != null">
                #{class_id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                #{course,jdbcType=VARCHAR},
            </if>
            <if test="university != null">
                #{university,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="exam_shedule != null">
                #{exam_shedule,jdbcType=VARCHAR},
            </if>
            <if test="population != null">
                #{population,jdbcType=SMALLINT},
            </if>
            <if test="if_allow_to_join != null">
                #{if_allow_to_join,jdbcType=VARCHAR},
            </if>
            <if test="user_id != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="create_date_time != null">
                #{create_date_time,jdbcType=TIMESTAMP},
            </if>
            <if test="modify_date_time != null">
                #{modify_date_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="team.qdu.smartclassserver.domain.Class">
        update class
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="course != null">
                course = #{course,jdbcType=VARCHAR},
            </if>
            <if test="university != null">
                university = #{university,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="exam_shedule != null">
                exam_shedule = #{exam_shedule,jdbcType=VARCHAR},
            </if>
            <if test="population != null">
                population = #{population,jdbcType=SMALLINT},
            </if>
            <if test="if_allow_to_join != null">
                if_allow_to_join = #{if_allow_to_join,jdbcType=VARCHAR},
            </if>
            <if test="user_id != null">
                user_id = #{user_id,jdbcType=INTEGER},
            </if>
            <if test="create_date_time != null">
                create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
            </if>
            <if test="modify_date_time != null">
                modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where class_id = #{class_id,jdbcType=INTEGER}
    </update>
    <update id="updateByClassId" parameterType="java.lang.Integer">
    UPDATE class_user
    SET  unread_information_num=unread_information_num+1
    WHERE class_id=#{class_id,jdbcType=INTEGER} AND title='学生'
</update>
    <update id="updateByPrimaryKey" parameterType="team.qdu.smartclassserver.domain.Class">
    update class
    set name = #{name,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      course = #{course,jdbcType=VARCHAR},
      university = #{university,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      exam_shedule = #{exam_shedule,jdbcType=VARCHAR},
      population = #{population,jdbcType=SMALLINT},
      if_allow_to_join = #{if_allow_to_join,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=INTEGER},
      create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP}
    where class_id = #{class_id,jdbcType=INTEGER}
    </update>
</mapper>