<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.qdu.smartclassserver.dao.Inform_UserMapper">
  <resultMap id="BaseResultMap" type="team.qdu.smartclassserver.domain.Inform_User">
    <id column="inform_user_id" jdbcType="INTEGER" property="inform_user_id" />
    <result column="inform_id" jdbcType="INTEGER" property="inform_id" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="if_read" jdbcType="VARCHAR" property="if_read" />
    <result column="class_id" jdbcType="INTEGER" property="class_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="create_date_time" jdbcType="TIMESTAMP" property="create_date_time" />
    <result column="modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time" />
  </resultMap>
  <sql id="Base_Column_List">
    inform_user_id, inform_id, detail, if_read, class_id, user_id, create_date_time, 
    modify_date_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inform_user
    where inform_user_id = #{inform_user_id,jdbcType=INTEGER}
  </select>
  <select id="selectInformByClassIdUserId" parameterType="team.qdu.smartclassserver.domain.Inform_User"  resultMap="BaseResultMap">
    SELECT *
    FROM
    inform_user
    WHERE class_id=#{class_id,jdbcType=INTEGER} AND user_id=#{user_id,jdbcType=INTEGER} ORDER BY inform_user_id DESC
  </select>
  <select id="selectInformByInformId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM
    inform_user
    WHERE inform_id=#{inform_id,jdbcType=INTEGER}
  </select>
  <select id="selectReadByInformId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT user_id
    FROM
    inform_user
    WHERE inform_id=#{inform_id,jdbcType=INTEGER} AND if_read='是'
  </select>
  <select id="selectUnReadByInformId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT user_id
    FROM
    inform_user
    WHERE inform_id=#{inform_id,jdbcType=INTEGER} AND if_read='否'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inform_user
    where inform_user_id = #{inform_user_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByInformId" parameterType="java.lang.Integer">
    delete FROM inform_user
    WHERE inform_id=#{inform_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.qdu.smartclassserver.domain.Inform_User">
    insert into inform_user (inform_user_id, inform_id, detail, 
      if_read, class_id, user_id, 
      create_date_time, modify_date_time)
    values (#{inform_user_id,jdbcType=INTEGER}, #{inform_id,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, 
      #{if_read,jdbcType=VARCHAR}, #{class_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, 
      #{create_date_time,jdbcType=TIMESTAMP}, #{modify_date_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="team.qdu.smartclassserver.domain.Inform_User">
    insert into inform_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inform_user_id != null">
        inform_user_id,
      </if>
      <if test="inform_id != null">
        inform_id,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="if_read != null">
        if_read,
      </if>
      <if test="class_id != null">
        class_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="create_date_time != null">
        create_date_time,
      </if>
      <if test="modify_date_time != null">
        modify_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inform_user_id != null">
        #{inform_user_id,jdbcType=INTEGER},
      </if>
      <if test="inform_id != null">
        #{inform_id,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="if_read != null">
        #{if_read,jdbcType=VARCHAR},
      </if>
      <if test="class_id != null">
        #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.qdu.smartclassserver.domain.Inform_User">
    update inform_user
    <set>
      <if test="inform_id != null">
        inform_id = #{inform_id,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="if_read != null">
        if_read = #{if_read,jdbcType=VARCHAR},
      </if>
      <if test="class_id != null">
        class_id = #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inform_user_id = #{inform_user_id,jdbcType=INTEGER}
  </update>
  <update id="clickUpdate1" parameterType="team.qdu.smartclassserver.domain.Inform_User" >
    UPDATE inform_user
    <set>
    <if test='if_read=="否"'>
    if_read='是'
    </if>
    </set>
    WHERE inform_user_id=#{inform_user_id,jdbcType=INTEGER}
  </update>
  <update id="clickUpdate2" parameterType="team.qdu.smartclassserver.domain.Inform_User">
      UPDATE inform
      <set>
       read_num=read_num+1
      </set>
       WHERE inform_id=#{inform_id,jdbcType=INTEGER}
  </update>
  <update id="clickUpdate3" parameterType="team.qdu.smartclassserver.domain.Inform_User">
    UPDATE class_user
    <set>
    unread_information_num=unread_information_num-1
    </set>
    WHERE class_id=#{class_id,jdbcType=INTEGER} AND user_id=#{user_id,jdbcType=INTEGER}
  </update>
  <update id="deleteUpdate" parameterType="team.qdu.smartclassserver.domain.Inform_User">
       UPDATE class_user
    <set>
      unread_information_num=unread_information_num-1
    </set>
    WHERE class_id=#{class_id,jdbcType=INTEGER} AND user_id=#{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.qdu.smartclassserver.domain.Inform_User">
    update inform_user
    set inform_id = #{inform_id,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR},
      if_read = #{if_read,jdbcType=VARCHAR},
      class_id = #{class_id,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=INTEGER},
      create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP}
    where inform_user_id = #{inform_user_id,jdbcType=INTEGER}
  </update>
</mapper>