<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.qdu.smartclassserver.dao.Material_UserMapper">
  <resultMap id="BaseResultMap" type="team.qdu.smartclassserver.domain.Material_User">
    <id column="material_user_id" jdbcType="INTEGER" property="material_user_id" />
    <result column="material_id" jdbcType="INTEGER" property="material_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="if_download" jdbcType="VARCHAR" property="if_download" />
    <result column="class_id" jdbcType="INTEGER" property="class_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="create_date_time" jdbcType="TIMESTAMP" property="create_date_time" />
    <result column="modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time" />
  </resultMap>
  <sql id="Base_Column_List">
    material_user_id, material_id, name, url, if_download, class_id, user_id, create_date_time, 
    modify_date_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from material_user
    where material_user_id = #{material_user_id,jdbcType=INTEGER}
  </select>
  <select id="checkIfFirsttime" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT if_download
    FROM material_user
    where material_user_id = #{material_user_id,jdbcType=INTEGER}
  </select>
  <select id="selectByClassidUserid" parameterType="team.qdu.smartclassserver.domain.Material_User" resultMap="BaseResultMap">
    SELECT  *
    FROM
    material_user
    WHERE class_id=#{class_id,jdbcType=INTEGER} AND  user_id=#{user_id,jdbcType=INTEGER} ORDER  BY material_user_id DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from material_user
    where material_user_id = #{material_user_id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteBymaterialId" parameterType="java.lang.Integer">
    delete FROM material_user
    WHERE material_id=#{material_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.qdu.smartclassserver.domain.Material_User">
    insert into material_user (material_user_id, material_id, name, 
      url, if_download, class_id, 
      user_id, create_date_time, modify_date_time
      )
    values (#{material_user_id,jdbcType=INTEGER}, #{material_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{if_download,jdbcType=VARCHAR}, #{class_id,jdbcType=INTEGER}, 
      #{user_id,jdbcType=INTEGER}, #{create_date_time,jdbcType=TIMESTAMP}, #{modify_date_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="addExpRecord" parameterType="team.qdu.smartclassserver.domain.Material_User">
    INSERT  into class_user_exp (class_id,user_id,exp,detail,create_date_time,modify_date_time)
    VALUES (#{class_id,jdbcType=INTEGER},#{user_id,jdbcType=INTEGER},2,concat('下载资源','《',#{name,jdbcType=VARCHAR},'》'),#{create_date_time,jdbcType=TIMESTAMP}, #{modify_date_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="team.qdu.smartclassserver.domain.Material_User">
    insert into material_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="material_user_id != null">
        material_user_id,
      </if>
      <if test="material_id != null">
        material_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="if_download != null">
        if_download,
      </if>
      <if test="class_id != null">
        class_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="create_date_time != null">
        create_date_time,
      </if>
      <if test="modify_date_time != null">
        modify_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="material_user_id != null">
        #{material_user_id,jdbcType=INTEGER},
      </if>
      <if test="material_id != null">
        #{material_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="if_download != null">
        #{if_download,jdbcType=VARCHAR},
      </if>
      <if test="class_id != null">
        #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="team.qdu.smartclassserver.domain.Material_User">
    update material_user
    <set>
      <if test="material_id != null">
        material_id = #{material_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="if_download != null">
        if_download = #{if_download,jdbcType=VARCHAR},
      </if>
      <if test="class_id != null">
        class_id = #{class_id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="create_date_time != null">
        create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where material_user_id = #{material_user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.qdu.smartclassserver.domain.Material_User">
    update material_user
    set material_id = #{material_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      if_download = #{if_download,jdbcType=VARCHAR},
      class_id = #{class_id,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=INTEGER},
      create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP}
    where material_user_id = #{material_user_id,jdbcType=INTEGER}
  </update>
  <update id="downloadMaterial1" parameterType="java.lang.Integer" >
    UPDATE material_user
    <set>
        if_download='是'
    </set>
    WHERE material_user_id=#{material_user_id,jdbcType=INTEGER}
  </update>
</mapper>