<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.fushan.smartclass.dao.UserMapper">
  <resultMap id="BaseResultMap" type="team.fushan.smartclass.domain.User">
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="university" jdbcType="SMALLINT" property="university" />
    <result column="department" jdbcType="SMALLINT" property="department" />
    <result column="if_show_closed_classes" jdbcType="TINYINT" property="if_show_closed_classes" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, email, password, avatar, name, gender, birthday, university, department, 
    if_show_closed_classes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where email = #{email, jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.fushan.smartclass.domain.User">
    insert into user (user_id, email, password, 
      avatar, name, gender, 
      birthday, university, department, 
      if_show_closed_classes)
    values (#{user_id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{birthday,jdbcType=DATE}, #{university,jdbcType=SMALLINT}, #{department,jdbcType=SMALLINT}, 
      #{if_show_closed_classes,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="team.fushan.smartclass.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="university != null">
        university,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="if_show_closed_classes != null">
        if_show_closed_classes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="university != null">
        #{university,jdbcType=SMALLINT},
      </if>
      <if test="department != null">
        #{department,jdbcType=SMALLINT},
      </if>
      <if test="if_show_closed_classes != null">
        #{if_show_closed_classes,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.fushan.smartclass.domain.User">
    update user
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="university != null">
        university = #{university,jdbcType=SMALLINT},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=SMALLINT},
      </if>
      <if test="if_show_closed_classes != null">
        if_show_closed_classes = #{if_show_closed_classes,jdbcType=TINYINT},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.fushan.smartclass.domain.User">
    update user
    set email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=DATE},
      university = #{university,jdbcType=SMALLINT},
      department = #{department,jdbcType=SMALLINT},
      if_show_closed_classes = #{if_show_closed_classes,jdbcType=TINYINT}
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>