<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.qdu.smartclassserver.dao.UserMapper">
  <resultMap id="BaseResultMap" type="team.qdu.smartclassserver.domain.User">
    <id column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="status_message" jdbcType="VARCHAR" property="status_message" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="university" jdbcType="SMALLINT" property="university" />
    <result column="department" jdbcType="SMALLINT" property="department" />
    <result column="if_show_closed_classes" jdbcType="VARCHAR" property="if_show_closed_classes" />
    <result column="create_date_time" jdbcType="TIMESTAMP" property="create_date_time" />
    <result column="modify_date_time" jdbcType="TIMESTAMP" property="modify_date_time" />
  </resultMap>
  <select id="selectByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <sql id="Base_Column_List">
    user_id, account, password, avatar, name, gender, status_message, birthday, university, 
    department, if_show_closed_classes, create_date_time, modify_date_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.qdu.smartclassserver.domain.User">
    insert into user (user_id, account, password, 
      avatar, name, gender, 
      status_message, birthday, university, 
      department, if_show_closed_classes, create_date_time, 
      modify_date_time)
    values (#{user_id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{status_message,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{university,jdbcType=SMALLINT}, 
      #{department,jdbcType=SMALLINT}, #{if_show_closed_classes,jdbcType=VARCHAR}, #{create_date_time,jdbcType=TIMESTAMP}, 
      #{modify_date_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="team.qdu.smartclassserver.domain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="status_message != null">
        status_message,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="university != null">
        university,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="if_show_closed_classes != null">
        if_show_closed_classes,
      </if>
      <if test="create_date_time != null">
        create_date_time,
      </if>
      <if test="modify_date_time != null">
        modify_date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="status_message != null">
        #{status_message,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="university != null">
        #{university,jdbcType=SMALLINT},
      </if>
      <if test="department != null">
        #{department,jdbcType=SMALLINT},
      </if>
      <if test="if_show_closed_classes != null">
        #{if_show_closed_classes,jdbcType=VARCHAR},
      </if>
      <if test="create_date_time != null">
        #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.qdu.smartclassserver.domain.User">
    update user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="status_message != null">
        status_message = #{status_message,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="university != null">
        university = #{university,jdbcType=SMALLINT},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=SMALLINT},
      </if>
      <if test="if_show_closed_classes != null">
        if_show_closed_classes = #{if_show_closed_classes,jdbcType=VARCHAR},
      </if>
      <if test="create_date_time != null">
        create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_date_time != null">
        modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.qdu.smartclassserver.domain.User">
    update user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      status_message = #{status_message,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      university = #{university,jdbcType=SMALLINT},
      department = #{department,jdbcType=SMALLINT},
      if_show_closed_classes = #{if_show_closed_classes,jdbcType=VARCHAR},
      create_date_time = #{create_date_time,jdbcType=TIMESTAMP},
      modify_date_time = #{modify_date_time,jdbcType=TIMESTAMP}
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>
</mapper>